* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

div h1 {
    color: white;
}

a {
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.3rem;
    color: brown;
}

#hero {
    height: 100vh;
}

img {
    width: 100%;
}

#hero h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero {
    position: relative;
}
#about {
    height: 100vh;
    display: flex;
    margin: 7rem 0;
}
#about .left,.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about .left img {
    width: 50%;
}
#service {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

#service .upper {
    display: flex;
    justify-content: space-evenly;
}

#service h1 {
    display: flex;
    justify-content: center;
}

#service .card {
    color: azure;
    background-color: skyblue;
    width: 50%;
    border-radius: 0.8rem;
    margin: 1rem;
    padding: 1rem;
}

.card img {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .lower input {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

#contact .lower {
    border-style: dotted;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h1 {
    display: flex;
    justify-content: center;
}

@media screen and (max-width:426px){
    nav div {
        display: none !important;
    }

    i {
        display: flex !important;
    }

    #hero {
        height: 100%;
    }
    #hero img{
        height: 100%;
        width:100%;
    }

    #hero h1 {
        font-size: 1rem;
        font-weight: 600;
        padding: 1rem;
        background-color:white;
        color: rgba(92, 58, 58, 0.701);
    }

    #about {
        height: 100%;
        flex-direction: column;
    }

    #about .left,.right {
        width: 100%;
    }

    #about .right p {
        padding: 1rem;
    }
    #service {
        display: flex;
        height: 100%;
    }
     #service .upper {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #service .card img {
        width:50%;
        display: flex;
        justify-content: center;
    }
}